* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #143c55;
  background-color: #fcfcfc;

  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

/* nav */
nav {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.hamburger {
  font-size: 2rem;
}

/* main */
main {
  margin-top: 4rem;
}

/* aside */
aside {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.main {
  height: 100%;
  display: grid;
  grid-template-columns: 200px auto;
}

.menu-items {
  padding: 1rem 0;
  height: 100%;
}

.menu-item {
  background-color: rgb(230, 57, 70);
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  color: #f1faee;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid rgb(230, 57, 70);
}

.menu-item:hover {
  color: rgb(230, 57, 70);
  background-color: #f1faee;
  border: 1px solid rgb(230, 57, 70);
}

.menu-item:hover .menu-item-text > i {
  color: rgb(230, 57, 70);
}

.menu-item-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.menu-item + .menu-item {
  margin-top: 0.5rem;
}

.menu-item-text > i {
  color: #fefefe;
}

/* chart */
#chart {
  color: #fefefe;
}

.chart-section-main {
  background-color: rgba(29, 53, 87, 0.05);
  border-radius: 3rem;
  margin: 2rem;
  margin-right: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.chart-section {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem 0;
}

/* stats */
.stats {
  background-color: rgba(29, 53, 87, 0.05);
  padding: 2rem 5rem;
  border-radius: 3rem;
  margin: 2rem;
  margin-right: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

.stat {
  background-color: rgba(29, 53, 87, 0.1);
  padding: 1rem 3rem;
  display: flex;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.stat-value {
  font-weight: 600;
  display: inline-block;
  padding: 0.5rem 2rem;
  background-color: #143c55;
  border-radius: 0.25rem;
  font-weight: 600;
  color: #f1faee;
  font-size: 1.25rem;
  letter-spacing: 2px;
}
